<h2> <%=@teamname%> </h2>

<h1> Team Motto: <%=@teammotto%> </h1>

<h1>Hero Name: <%=@heroname1%> </h1>
<h1> Hero Power: <%=@heropower1%> </h1>
<h1> Hero Biography: <%=@herobio1%> </h1>

<h1>Hero Name: <%=@heroname2%> </h1>
<h1> Hero Power: <%=@heropower2%> </h1>
<h1> Hero Biography: <%=@herobio2%> </h1>

<h1>Hero Name: <%=@heroname3%> </h1>
<h1> Hero Power: <%=@heropower3%> </h1>
<h1> Hero Biography: <%=@herobio3%> </h1>
